---
import ProjectCard from "../components/ProjectCard.astro";
import Unity from "@/icons/Unity.astro"
import CSharp from "@/icons/CSharp.astro";
import NextJS from "@/icons/Nextjs.astro";

const PROJECTS = [
    {
        id: "gunbrawl",
        title: "Gun Brawl",
        description: "Gun Brawl is a local multiplayer fight 2D pixelart game",
        url: "https://ruben-velasquez.itch.io/gun-brawl",
        badges: [
            {
                name: "Unity", 
                icon: Unity, 
                class: "bg-slate-900 text-white"
            },
            {
                name: "CSharp", 
                icon: CSharp, 
                class: "bg-violet-900 text-white"
            }
        ]
    },
    {
        id: "usefulgpt",
        title: "Useful GPT",
        description: "A simple interface for OpenAI LLMs with custom prompts.",
        url: "https://usefulgpt.vercel.app/",
        badges: [
            {
                name: "NextJS", 
                icon: NextJS, 
                class: "bg-slate-900 text-white"
            }
        ]
    },
]
---

<section class="grid gap-2">
    <h2 class="text-2xl font-bold">Proyectos</h2>
    <ul class="w-full grid grid-cols-1 place-items-center sm:grid-cols-2 flex-col flex-wrap items-center gap-4">
        {
            PROJECTS.map(project => (
                <ProjectCard id={project.id} title={project.title} description={project.description} badges={project.badges} url={project.url}/>
            ))
        }
    </ul>
</section>