---
import ProjectCard from "../components/ProjectCard.astro";
import Unity from "@/icons/Unity.astro"

const PROJECTS = [
    {
        id: "gunbrawl",
        title: "Gun Brawl",
        description: "Gun Brawl is a local multiplayer fight 2D pixelart game",
        url: "https://ruben-velasquez.itch.io/gun-brawl",
        badges: [
            {
                name: "Unity", 
                icon: Unity, 
                class: "bg-slate-900 text-white"
            }
        ]
    },
]
---

<section class="mt-10 grid gap-2">
    <h1 class="text-2xl font-bold">Proyectos</h1>
    <ul class="w-full grid grid-cols-1 place-items-center sm:grid-cols-2 flex-col flex-wrap items-center gap-4">
        {
            PROJECTS.map(project => (
                <ProjectCard id={project.id} title={project.title} description={project.description} badges={project.badges} url={project.url}/>
            ))
        }
    </ul>
</section>